@import url("./admin.css");
@import url("./display.css");
@import url("./mobile.css");
@import url("./reset.css");

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
}
